.ipFilter {
  width: 1000px;

  display: flex;
  align-items: center;

  .ipFilter__input {
    margin: 0;
    width: 100%;
    background-color: #fff;
    border: none;
    color: rgba($color: #000, $alpha: 0.8);
    font-size: 14px;
    font-weight: 400;
    padding: 12px 5px;
    text-align: center;
    border-radius: 20px;
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }

  button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(
      60deg,
      rgba(#000, 0.9) 30%,
      $secondaryColor 70%
    );
    height: 48px;
    width: 95px;
    border-radius: 120px;
    margin-left: -90px;
    border: none;
  }

  &:active {
    border: 1px solid #fff;
  }
  &:focus {
    border: 1px solid #fff;
  }
}
